* {
  box-sizing: border-box;
}
bodY {
  margin: 0px;
}
.parent {

}

@keyframes moving {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
